@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
  background-color: #000;
}
#search-box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40vw;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
  border-radius: 5px;
  
}
#search-input {
  background: #121212;
  flex-grow: 1;
  padding: 10px 20px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
}
#search-input::placeholder {
  color: #aaaaaa;
}
#search-btn {
  width: 4vw;
  border: none;
  background-color: #303030;
  transition: all 0.5s ease;
}

.search-icon {
    width: 100%;
    transition: all 0.5s ease;
  background-color: #303030;
}
#search-btn:hover{
    box-sizing: border-box;
    cursor: pointer;
}
#video-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  padding: 50px 40px;
}
.video {
  overflow: hidden;
  height: 350px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
.video:hover{
  transform: scale(1.05);
}
.video-img {
  width: 90%;
  height: 50%;
}
.video-info {
  display: flex;
  background-color: #000;
  color: hsl(0, 0%, 100%);
}
.video-info-left {
  padding-top: 10px;
  display: flex;
  background-color: #000;
}
.video-icon {
  
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.video-info-right {
  margin-inline: 20px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.video-title,
.video-channel,
.video-view {
  overflow: hidden;
  margin: 0px;
  padding-top: 5px;
  background-color: #000;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.video-channel,
.video-view {
  color: #aaa;
  font-weight: 400;
}
