@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
* {
  margin: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
  background-color: #000;
}
#main{
  display: grid;
  grid-template-columns: 2fr 10fr;
  margin: 0px;
  padding: 0px;
  background: #212121;
}
#logo{
  padding-inline: 10px;
  display: flex;
  align-items: center;
  background: #212121;
  color: #ffffff;

}
h2,h4{
  padding:0px;
  background: #212121;
  margin: 0px;
}
h4{
  font-size: 18px;
 font-weight: 100;
}

#side-bar{

  margin: 0px;
color: #ffffff;
background: #212121;
display: flex;
flex-direction: column;
justify-items: center;
gap: 10px;
overflow-y: auto;
}
.horizontal-line{
  border-bottom: 2px solid  #303030;
}
#sb-1, #sb-2, .sb-3{
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
  background: #212121;
display: flex;
flex-direction: column;
justify-items: center;
gap: 10px;
}
.sb-box{
  padding-inline: 2vw;
  gap: 10px;
  background: #212121;
display: flex;
align-items: center;
transition: all 0.2s ease-in-out;
}
.sb-box:hover{
  transform: scale(1.04);
  cursor: pointer;
}
#navbar{
  position: sticky;
  top: 0px;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#nav-mid{
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#search-box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40vw;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #303030;
  border-radius: 5px;
  
}
#search-input {
  background: #121212;
  flex-grow: 1;
  padding: 10px 20px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 2px;
}
#search-input::placeholder {
  color: #aaaaaa;
}
#search-btn {
  padding: 10px;
  width: 4vw;
  border: none;
  border-radius: 2px ;
  background-color: #303030;
  transition: all 0.5s ease;
}

.search-icon {
    width: 100%;
    transition: all 0.5s ease;
  background-color: #303030;
}
#search-btn:hover{
    box-sizing: border-box;
    cursor: pointer;
}
#mic{
  display: flex;
  align-items: center;
  background-color: #000;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#user{
  gap: 10px;
  background-color: #212121;
  display: flex;
  justify-content: space-around;
}
#video-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  padding: 50px 40px;
}
.video {
  overflow: hidden;
  height: 350px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
.video:hover{
  transform: scale(1.05);
}
.video-img {
  width: 90%;
  height: 50%;
}
.video-info {
  display: flex;
  background-color: #000;
  color: hsl(0, 0%, 100%);
}
.video-info-left {
  padding-top: 10px;
  display: flex;
  background-color: #000;
}
.video-icon {
  
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.video-info-right {
  margin-inline: 20px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.video-title,
.video-channel,
.video-view {
  overflow: hidden;
  margin: 0px;
  padding-top: 5px;
  background-color: #000;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.video-channel,
.video-view {
  color: #aaa;
  font-weight: 400;
}
