*{
    margin: 0px;
    padding: 0px;
    background-color: #000;
}
body{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
#play-video{
    width: 80vw;
    height: 70vh;
padding-inline: auto;
}
#comment-container{
    padding-top: 8vh;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #FFF;
font-family: Roboto;

}
#comment{
    display: flex;
    gap: 20px;

}
#author-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
#auhtor-name{
    margin: 0px;
font-size: 13px;
font-weight: 700;
}
#timeOfComment{
font-size: 12px;
font-weight: 400;
}
#comment-brief{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
#comment-text{
    margin: 0px;
    margin-left: 20px;
font-size: 14px;
font-weight: 400;
}
#like-count{
    color: #AAA;
    margin: 0px;
}